.navbar {
  background: white !important;
  padding: var(--header-padding);
  opacity: 0.95;
}

.brand {
  z-index: 1001;
  .logo {
    width: 60vw;
    max-width: 400px;
  }
}

.menutrigger {
  z-index: 1001;
  border: none;
  background: transparent;
  font-size: var(--header-font-size);
}
