@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@include media-breakpoint-up(xl) {
  .intro-text {
    margin-left: -7em;
    margin-top: 2em;
    padding-right: 7vw;
    text-align: justify;
  }

  .description-text {
    margin-right: 0 -3em 0 3em;
    padding: 3em 6em;
    text-align: justify;
  }
}
