@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './custom-variables';
@import 'bootstrap/scss/bootstrap';

:root {
  --header-font-size: min(max(1em, 10vw), 3em);
  --header-padding: 3vw;
  --header-height: calc(var(--header-font-size) + 2 * var(--header-padding));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: var(--header-height) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 5rem 0;
}

p {
  font-size: min(max(1em, 3vw), 2em);
}
